@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply shadow rounded p-4 bg-white;
    }
    .card__title {
        @apply font-bold text-xl mb-4;
    }

    .button {
        @apply px-2 py-1 rounded disabled:opacity-60;
    }

    .button-primary {
        @apply
        button
        bg-slate-100 text-slate-700
        hover:bg-slate-200 hover:text-slate-800
        active:bg-slate-300 active:text-slate-900
        disabled:bg-transparent
    }

    /* .button-red {
        @apply
        button
        bg-red-100 text-red-700
        hover:bg-red-200 hover:text-red-800
        active:bg-red-300 active:text-red-900
        disabled:bg-transparent
    } */
}